@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hiệu ứng chuyển màu mượt mà */
html {
  transition: background-color 0.3s, color 0.3s;
}